/*  ------ Table of content ------

1. Webfonts
   1.1 Montserrat
   1.2 Fraunces
2. Custom property
3. Global styles
4. Typography
5. Components
   5.1 card
6. Media queries

------------------------------- */

/* ===============
   Webfonts
   =============== */
/* ---- Montserrat ---- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

/* ---- Fraunces ---- */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

/* ===============
   Custom property
   =============== */
:root {
	--dark_cyan: hsl(158, 36%, 37%);
	--very_dark_cyan: hsl(158, 36%, 17%);
	--cream: hsl(32, 37%, 92%);
	--very_dark_blue: hsl(212, 21%, 14%);
	--dark_grayish_blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

/* ===============
   Global styles
   =============== */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

:focus {
	outline: none;
}

body {
	display: grid;
	height: 100vh;
	place-items: center;
	color: var(--very_dark_blue);
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	margin: 0;
	background-color: var(--cream);
}

/* ===============
   Typography
   =============== */
p {
	font-size: 13px;
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--very_dark_blue);
	font-family: "Fraunces", serif;
	line-height: 1;
	margin: 1rem 0;
}

/* ===============
   Components
   =============== */
/* ---- card ---- */
.card {
	display: flex;
	max-width: 560px;
	color: var(--dark_grayish_blue);
	margin: 2rem 1rem;
	flex-direction: column;
	border-radius: 11px;
	background-color: var(--white);
}

.card-img,
.card-content {
	flex: 1 1 50%;
}

.card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.card-content {
	padding: 1.2rem 1.5rem 1.5rem;
}

.card-category {
	font-size: 13px;
	letter-spacing: 4.5px;
	text-transform: uppercase;
}

.card-content h3 {
	font-size: 1.9rem;
	margin: 0.85rem 0;
}

.card-content p {
	line-height: 1.7;
}

.card-price {
	display: flex;
	column-gap: 1.5rem;
	align-items: center;
	margin: 2.2rem 0 0.5rem;
}
.card-price h3 {
	color: var(--dark_cyan);
}

.card-btn {
	display: flex;
	width: 100%;
	color: var(--white);
	font-size: 14px;
	font-weight: 700;
	padding: 0.85rem;
	column-gap: 0.75rem;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 8px;
	-webkit-transition: background 0.2s ease-out;
					transition: background 0.2s ease-out;
	background-color: var(--dark_cyan);
}
.card-btn:hover,
.card-btn:focus {
	background-color: var(--very_dark_cyan);
}

/* ===============
	 Media queries
	 =============== */
/* ---- Desktop Resolution ---- */
@media (min-width: 500px) {
	.card {
		flex-direction: row;
	}
	.card-img img {
		border-radius: 10px 0 0 10px;
	}
	.card-content {
		padding: 1.4rem 1.8rem 1.8rem;
	}
	.card-content h3 {
		font-size: 1.8rem;
		margin: 1rem 0;
	}
	.card-content p {
		margin-top: 1.5rem;
	}
	.card-category {
		font-size: 11.5px;
	}
	.card-price {
		margin: 0.8rem 0;
	}
	.card-btn {
		font-size: 13px;
		padding: 0.8rem;
		column-gap: 0.6rem;
	}
}
